.thumb {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  /* margin: 5px; */
  border: 2px solid #c99;
  background-position: center center;
  background-size: cover;
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}